<h1>サインアップ</h1>

<%= form_with model: @user, local: true do |form| %>
  <% if @user.errors.any? %>
    <div>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "名前" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, "メールアドレス" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation, "パスワードの確認" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.submit "サインアップ" %>
  </div>
<% end %>
