<h1>新規投稿</h1>

<%= form_with(model: @article, local: true) do |f| %>
  <p>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content, "内容" %><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit "投稿" %>
  </p>
<% end %>

<%= link_to "一覧に戻る", articles_path %>
