<h1><%= @article.title %></h1>
<p><%= @article.content %></p>

<%= link_to "投稿編集へ移動", edit_article_path(@article) %> |
<%= link_to "一覧画面へ戻る", articles_path %> |
<%= button_to "削除ボタン", article_path(@article), method: :delete %>
